/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* initializing tags */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 16px;
}

hr {
  margin: 16px;
}

.searching-section {

}

.task-table {
  width: 100%;
  margin-top: 16px;
}

.table-opts {
  display: flex;
  justify-content: space-evenly;
}

.task-table-header {
  padding: 16px 0;
  background: #31326f;
  color: #FFF;
}

.task-item:nth-child(even) {
  background: #dbf6e9;
}

.priority-low {
  color: #61b15a;
}

.priority-medium {
  color: #efb08c;
}

.priority-high, .bg-red {
  color: #d35d6e;
}

.bg-new {
  color: #898b8a;
}

.bg-completed {
  color: #03506f;
}